@page
@model Project2D.Pages.SeasonalAnimeModel
@{
    ViewData["Title"] = "Summer 2020";
}

<h1>Anime - Summer 2020</h1>
<p style="color:@Model.Anime.CoverImage.Color">@Model.Anime.Title.UserPreferred</p>
