@page
@model Project2D.Pages.SeasonalAnimeModel
@{
    ViewData["Title"] = "Summer 2020";
}

    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.MediaPage.PageInfo.Total; i++)
            {
                <div class="pt-1 text-center col-md-3 ">
                    <a asp-page="/Anime" asp-route-id="@Model.MediaPage.Media[i].ID" class="nav-link">
                        <img class="img-fluid rounded" src="@Model.MediaPage.Media[i].CoverImage.Large" />
                    </a>
                    <p style="font-family:'Quicksand',sans-serif; " class="mt-2">@Model.MediaPage.Media[i].Title.UserPreferred</p>
                </div>
            }
        </div>
    </div>